body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

header {
    background-color: #f8c8dc; /* Baby Pink */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
nav {
    display: flex;
    background-color: transparent;
    border-color: aliceblue;
    
}

.nav-left {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 20px;
}

.nav-right {
    padding-right: 12000;
    background-color: transparent;
    margin-left: 300px;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

.hero {
    background-color: #f8c8dc;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: black;
    height: 1vh;
    background-color: white;
    padding-top: 3px;
}


.pictures {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
}

.pictures h1{
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}
.pictures img{
    max-width: 80%;
}

.picture2{
    display:flex;
}

.picture2 h1{
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}

.picture2 img{
    padding-top: 100px;
    max-width: 80%;
}
.disclaimer h1{
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}