body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

header {
    background-color: #f8c8dc; /* Baby Pink */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}
nav {
    display: flex;
    background-color: transparent;
    border-color: aliceblue;
    
}

.nav-left {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 20px;
}

.nav-right {
    padding-right: 12000;
    background-color: transparent;
    margin-left: 300px;
}

.nav-right a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

.hero {
    background-color: #f8c8dc;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro h1 {
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 90px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
    padding-bottom: 100px;
}

.hero h1 {
    font-size: 3em;
    font-weight: bold;
    color: black;
    height: 1vh;
    background-color: white;
    padding-top: 3px;
}


.pictures {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
}

.pictures h1{
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}
.pictures img{
    max-width: 80%;
}

.picture2{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-right: 10px;
    background-color: white;
}

.picture2 h1{
    flex: 1; 
    padding-top: 50px; /* Reduce padding */
    padding-left: 20px; /* Reduce left padding */
    /*padding-right: 20px; /* Reduce right padding */
    flex: 1; /* Allows text to take up space */
    font-size: 20px;
    font-family: 'Times New Roman', serif;
    text-align: left; /* Ensures text is aligned properly */
    background-color: white;

}

.picture2 img{
    max-width: 400px; /* Ensures all images stay the same width */
    height: auto; /* Maintains aspect ratio */
    object-fit: contain; /* Ensures images fit inside their container */
    padding-right: 20px;
}
.disclaimer h1{
    padding-top: 90px;
    padding-left: 100px;
    padding-right: 100px;
    flex:1;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}